/* CMU Serif - for headings/titles */
@font-face {
  font-family: "CMU Serif";
  src: url("/fonts/cmu-serif/cmunrm-webfont-latin.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-synthesis: none;
  size-adjust: 106.25%;
  ascent-override: 81%;
  descent-override: 19%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "CMU Serif";
  src: url("/fonts/cmu-serif/cmunti-webfont-latin.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  font-synthesis: none;
  size-adjust: 126.25%;
  ascent-override: 81%;
  descent-override: 19%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "CMU Serif";
  src: url("/fonts/cmu-serif/cmunbx-webfont-latin.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-synthesis: none;
  size-adjust: 126.25%;
  ascent-override: 81%;
  descent-override: 19%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "CMU Serif";
  src: url("/fonts/cmu-serif/cmunbi-webfont-latin.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  font-synthesis: none;
  size-adjust: 126.25%;
  ascent-override: 81%;
  descent-override: 19%;
  line-gap-override: 0%;
}

/* CMU Sans Serif - for body text */
@font-face {
  font-family: "CMU Sans Serif";
  src: url("/fonts/cmu-sans/cmunss-webfont-latin.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-synthesis: none;
  ascent-override: 81%;
  descent-override: 19%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "CMU Sans Serif";
  src: url("/fonts/cmu-sans/cmunsi-webfont-latin.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  font-synthesis: none;
  ascent-override: 81%;
  descent-override: 19%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "CMU Sans Serif";
  src: url("/fonts/cmu-sans/cmunsx-webfont-latin.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-synthesis: none;
  ascent-override: 81%;
  descent-override: 19%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "CMU Sans Serif";
  src: url("/fonts/cmu-sans/cmunso-webfont-latin.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  font-synthesis: none;
  ascent-override: 81%;
  descent-override: 19%;
  line-gap-override: 0%;
}
