@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "./fonts.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-serif: "CMU Serif", ui-serif, Georgia, "Times New Roman", serif;
  --font-sans:
    "CMU Sans Serif", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-mono:
    "CMU Typewriter Variable", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

@theme {
  --color-fd-popover: hsl(220, 22%, 92%);
  --color-fd-popover-foreground: hsl(234, 16%, 35%);
  --color-fd-secondary-foreground: hsl(234, 16%, 35%);
  --color-fd-border: hsl(223, 16%, 83%);
  --color-fd-primary: hsl(266, 85%, 58%);
  --color-fd-primary-foreground: hsl(234, 16%, 35%);
  --color-fd-muted: hsl(220, 22%, 92%);
  --color-fd-card: hsl(220, 22%, 92%);
  --color-fd-accent: hsl(223, 16%, 83%);
  --color-fd-accent-foreground: hsl(234, 16%, 35%);
  --color-fd-card-foreground: hsl(234, 16%, 35%);
  --color-fd-muted-foreground: hsl(233, 10%, 47%);
  --color-fd-foreground: hsl(234, 16%, 35%);
  --color-fd-secondary: hsl(220, 22%, 92%);
  --color-fd-background: hsl(220, 23%, 95%);
  --color-fd-ring: hsl(267, 84%, 81%);

  --radius-xs: 0;
  --radius-sm: 0;
  --radius-md: 0;
  --radius-lg: 0;
  --radius-xl: 0;
  --radius-2xl: 0;
  --radius-3xl: 0;
  --radius-4xl: 0;
}

.dark {
  --color-fd-background: hsl(240, 21%, 15%);
  --color-fd-foreground: hsl(226, 64%, 88%);
  --color-fd-ring: hsl(267, 84%, 81%);
  --color-fd-primary: hsl(267, 84%, 81%);
  --color-fd-popover: hsl(240, 23%, 9%);
  --color-fd-card: hsl(240, 21%, 12%);
  --color-fd-muted: hsl(240, 21%, 12%);
  --color-fd-border: hsl(237, 16%, 23%);
  --color-fd-accent: hsl(237, 16%, 23%);
  --color-fd-secondary: hsl(240, 21%, 12%);
  --color-fd-primary-foreground: hsl(240, 23%, 9%);
  --color-fd-card-foreground: hsl(226, 64%, 88%);
  --color-fd-secondary-foreground: hsl(226, 64%, 88%);
  --color-fd-popover-foreground: hsl(226, 64%, 88%);
  --color-fd-accent-foreground: hsl(226, 64%, 88%);
  --color-fd-muted-foreground: hsl(228, 24%, 72%);
}

#nd-sidebar {
  --color-fd-secondary: hsl(223, 16%, 83%);
  --color-fd-muted: hsl(223, 16%, 83%);
}

.dark #nd-sidebar {
  --color-fd-secondary: hsl(237, 16%, 23%);
  --color-fd-muted: hsl(237, 16%, 23%);
}
@layer base {
  html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
  code,
  kbd,
  samp,
  pre {
    @apply font-mono;
  }
}
