/* CMU Serif - for headings/titles */
@font-face {
  font-family: "CMU Serif";
  src:
    url("/fonts/cmu-serif/cmunrm-webfont.woff") format("woff"),
    url("/fonts/cmu-serif/cmunrm-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-synthesis: none;
  size-adjust: 106.25%;
  ascent-override: 81%;
  descent-override: 19%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "CMU Serif";
  src:
    url("/fonts/cmu-serif/cmunti-webfont.woff") format("woff"),
    url("/fonts/cmu-serif/cmunti-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  font-synthesis: none;
  size-adjust: 126.25%;
  ascent-override: 81%;
  descent-override: 19%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "CMU Serif";
  src:
    url("/fonts/cmu-serif/cmunbx-webfont.woff") format("woff"),
    url("/fonts/cmu-serif/cmunbx-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-synthesis: none;
  size-adjust: 126.25%;
  ascent-override: 81%;
  descent-override: 19%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "CMU Serif";
  src:
    url("/fonts/cmu-serif/cmunbi-webfont.woff") format("woff"),
    url("/fonts/cmu-serif/cmunbi-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  font-synthesis: none;
  size-adjust: 126.25%;
  ascent-override: 81%;
  descent-override: 19%;
  line-gap-override: 0%;
}

/* CMU Sans Serif - for body text */
@font-face {
  font-family: "CMU Sans Serif";
  src:
    url("/fonts/cmu-sans/cmunss-webfont.woff") format("woff"),
    url("/fonts/cmu-sans/cmunss-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-synthesis: none;
  ascent-override: 81%;
  descent-override: 19%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "CMU Sans Serif";
  src:
    url("/fonts/cmu-sans/cmunsi-webfont.woff") format("woff"),
    url("/fonts/cmu-sans/cmunsi-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  font-synthesis: none;
  ascent-override: 81%;
  descent-override: 19%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "CMU Sans Serif";
  src:
    url("/fonts/cmu-sans/cmunsx-webfont.woff") format("woff"),
    url("/fonts/cmu-sans/cmunsx-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-synthesis: none;
  ascent-override: 81%;
  descent-override: 19%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "CMU Sans Serif";
  src:
    url("/fonts/cmu-sans/cmunso-webfont.woff") format("woff"),
    url("/fonts/cmu-sans/cmunso-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  font-synthesis: none;
  ascent-override: 81%;
  descent-override: 19%;
  line-gap-override: 0%;
}

/* JetBrains Mono - for code */
@font-face {
  font-family: "JetBrains Mono";
  src: url("https://fonts.gstatic.com/s/jetbrainsmono/v21/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxjPVmUsaaDhw.woff2")
    format("woff2");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://fonts.gstatic.com/s/jetbrainsmono/v21/tDbX2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-Lfjuh.woff2")
    format("woff2");
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
}
